<div class="chart-container">
        <span>
            <mat-form-field>
            <mat-label>{{getVariableName('median_income')}}</mat-label>
            <mat-select (selectionChange)="onVariableChange($event.value)" [compareWith]="compareNeighborhood">
              @for (variable of nameMap | keyvalue; track variable) {
              <mat-option [value]="variable.key" *ngIf="variable.key !== 'median_income'">{{variable.value}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
          <p class="rSquared">R² = {{rSquared.toLocaleString('en', {minimumFractionDigits: 2, maximumFractionDigits: 2})}}</p>
        </span>
    <div class="scatter-plot-graph" #chart></div>
</div>

