<div class="chart-container">
        <span>
            <!-- <mat-form-field>
            <mat-label>{{getVariableName('median_income')}}</mat-label>
            <mat-select (selectionChange)="onVariableChange($event.value)" [compareWith]="compareNeighborhood">
    <h3 class="chart-title">Études des indicateurs socio-économiques</h3> -->
        <!-- <select class="filter-dropdown" (change)="onVariableChange($event)">
            <option value="median_income" selected>{{getVariableName('median_income')}}</option>
            <ng-container *ngFor="let variable of nameMap | keyvalue">
                <option [value]="variable.key" *ngIf="variable.key !== 'median_income'">{{variable.value}}</option>
            </ng-container>
        </select> -->
        <mat-form-field>
            <!--<mat-label aria-placeholder="Indicateur">{{getVariableName('median_income')}}</mat-label>-->
            <mat-label>Indicateur</mat-label>
            <mat-select [value]="currentVariable" (selectionChange)="onVariableChange($event.value)" [compareWith]="compareNeighborhood">
              @for (variable of nameMap | keyvalue; track variable) {
              <mat-option [value]="variable.key" >{{variable.value}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
          <p class="rSquared">R² = {{rSquared.toLocaleString('en', {minimumFractionDigits: 2, maximumFractionDigits: 2})}}</p>
        </span>
    <div class="scatter-plot-graph" #chart></div>
</div>

