<div>
  <nav class="header">
    <ul>
        <li><a (click)="click('choropleth-chart')">Choroplèthe</a></li>
        <li><a (click)="click('stacked-area-chart')">Graphique à aires empilées</a></li>
        <li><a (click)="click('radial-bar-chart')">Carte radiale à aires</a></li>
        <li><a (click)="click('tree-map-chart')">Graphique de carte arborescente</a></li>
        <li><a (click)="click('scatter-plot-chart')">Graphique à nuages de points</a></li>
    </ul>
  </nav>
  
  <div class="body">
    <div class="body-section">
      <div class="text-contents">
        <div class="title-container">
          <h1 class="title">La criminalité à Montréal:</h1>
          <h1 class="title">Comment peux-t-on la comprendre?</h1>
        </div>
        <p class="text">Au cours des dernières années, Montréal, comme toutes les métropoles du monde, possède certains problèmes au niveau de la criminalité. Est-ce que ces problèmes ont toujours été présents ou est-ce qu’il s’agit uniquement d’un enjeu qui est arrivé récemment? Nous pourrions aussi nous poser des questions en lien avec l’emplacement où se produit ces crimes. Dans cet article, nous allons essayer de répondre à ces questions au travers plusieurs visualisations retraçant les crimes dans l’agglomération de Montréal entre janvier 2015 et mars 2024.  Après la lecture de l’article, vous devriez être en mesure  d’en apprendre plus sur l’évolution des statistiques municipales, mais aussi en fonction des quartiers et de leurs caractéristiques socio-économiques. L’article pourrait également vous permettre de prendre des décisions éclairées en matière de sécurité personnelle ou de choix de domicile et de contribuer aux initiatives communautaires de prévention de crimes.</p>
      </div>
    </div>

    <div class="body-section">
      <div class="text-contents">
        <h2 class="title sub">Quel est le nombre de crime moyen chaque année et quels quartiers sont les plus affectés?</h2>
        <p class="text">La Société de Police de la Ville de Montréal classifie chaque crime dans 6 catégories: les introductions, les vols dans ou sur un véhicule à moteur, les vols de véhicule à moteur, les méfaits, les vols qualifiés et les infractions entraînant la mort. Le choroplèthe ci-dessous permet de voir quels quartiers sont les plus plus affectés par un ou plusieurs types de crime et de voir les informations par rapport au quartier en question. </p>
      </div>
      <div id="choropleth-chart">
        <app-choropleth-chart/>
      </div>
    </div>
    
    <div class="body-section">
      <div class="text-contents">
        <h2 class="title sub">Comment les statistiques en lien avec le nombre de crimes ont-elles évolué dans le temps sur l’île de Montréal au travers les années et les saisons?</h2>
        <p class="text">Nous nous intéressons maintenant à l’évolution dans le temps sur le nombre de crimes qui ont eu lieu. Le graphique ci-dessous permet d’observer les tangentes en lien avec la répartition des différents types de crime noté par le SPVM. Chaque catégorie est scrutée afin de mettre l’emphase sur son évolution mensuelle au courant des huit dernières années. Le graphique à aires empilées permet également d’observer l’évolution selon les différents quartiers composant l’agglomération de Montréal.</p>
      </div>
      <div id="stacked-area-chart">
        <app-stacked-area-chart/>
      </div>
    </div>

    <div class="body-section">
      <div class="text-contents">
        <h2 class="title sub"></h2>
        <p></p>
      </div>
      <div id="radial-bar-chart">
        <app-radial-bar-chart/>
      </div>
    </div>

    <div class="body-section">
      <div class="text-contents">
        <h2 class="title sub">Quels sont les types de crimes traités par un poste de quartier et lequel traite le plus de crime?</h2>
        <p>Cette visualisation permet de représenter graphiquement les différentes catégories de crimes en fonction de leur fréquence relative dans chaque quartier. En observant et survolant la treemap, on peut identifier rapidement les types de crimes prédominants dans chaque poste de quartier, ainsi que celui qui traite le plus de crimes en volume. Cette analyse visuelle peut fournir des indications précieuses sur les priorités en matière de sécurité et les besoins en ressources policières dans chaque quartier de Montréal.</p>
      </div>
      <div id="tree-map-chart">
        <app-tree-map-chart/>
      </div>
    </div>

    <div class="body-section">
      <div class="text-contents">
        <h2 class="title sub">Existe-t-il une relation entre les taux de criminalité et les indicateurs socio-économiques?</h2>
        <p>Pour conclure cet article, nous voulons nous pencher vers une vision plus holistique des données en examinant s’il existe des relations entre les indicateurs socio-économiques provenant du recensement datant de 2021 et les taux de criminalité en 2021 pour chaque quartier. On peut directement remarquer l'aberrance des données du quartier de Ville-Marie qui ne semble pas montrer un lien entre ses données socio-économiques et son taux de criminalité. En ce qui concerne les autres quartiers, l’écart de taux de criminalité est beaucoup plus fin et les tendances sont plus difficiles à extraire mais il est tout de même possible d’observer certaines corrélation générales avec, par exemple, le pourcentage de la population qui n'ont aucun diplôme. La force de chaque corrélation est quantifié par la valeur R² afin de plus facilement évaluer chaque indicateur</p>
      </div>
      <div id="scatter-plot-chart">
        <app-scatter-plot-chart />
      </div>
    </div>
  </div>
  <div class="footer">
  </div>
</div>

