#filtersCategory {
    margin: auto;  
    padding: 20px;
    text-align: left;
    background-color: lightgrey;
}

#resetFiltersButton {
    align-self: center;
}

ul {
    list-style-type: none;
    margin-top: 4px;
}

.example-section {
    margin: 12px 0;
}

.example-margin {
    margin: 0 12px;
}

.two {
    width: 20vw;
}

.two-child {
    max-height: 61.5vh;
    overflow-y: auto;
}

#categoryFilter {
    text-align: center;
}