<p>choropleth-chart</p>

<div class="viz-container">
  <div id="choropleth-legend">
    
  </div>

  <div class="graph" id="map">
    <div class="one">
      <svg class="main-svg"></svg>
    </div>

    <div class="side">
      <button (click)="resetFilters($event)"> Réinitialiser les filtres </button>
      <div class="zero">
        <section class="example-section">
          <section class="example-section">
            <span class="example-list-section">
              <mat-checkbox class="example-margin" [checked]="allComplete" [indeterminate]="someComplete()"
                (change)="setAll($event.checked)">
                Toutes les catégories
              </mat-checkbox>
            </span>
            <span class="example-list-section">
              <ul>
                @for (type of filterCategories; track type) {
                <li>
                  <mat-checkbox [(ngModel)]="type.selected" (ngModelChange)="updateFiltersCategories()">
                    {{type.name}}
                  </mat-checkbox>
                </li>
                }
              </ul>
            </span>
          </section>

        </section>
      </div>

      <div class="two">
        <p>{{partOfMontrealChosen}}</p>

        <mat-form-field>
          <mat-label>Category</mat-label>
          <mat-select (selectionChange)="onTableSelectionChange($event.value)" [compareWith]="compareObjects" [(ngModel)]="selectedTableCategory">
            @for (category of tableCategories; track category) {
            <mat-option [value]="category">{{category.name}}</mat-option>
            }
          </mat-select>
        </mat-form-field>

        <div class="two-child">
          <table mat-table [dataSource]="dataSource" class="info-tab">
            <!-- <mat-text-column name="2016"> 2016 </mat-text-column>
            <mat-text-column name="2021"> 2021 </mat-text-column> -->
            <ng-container [matColumnDef]="column" *ngFor="let column of columnsToDisplay">
              <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
              <td mat-cell *matCellDef="let ageGroup">{{ ageGroup[column] }}</td>
            </ng-container>

            <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
          </table>
        </div>

      </div>
    </div>



  </div>
</div>