.viz-container {
width: 100%;
margin: auto;
padding: 10px;
display: flex;
justify-content: center;
}
  
.one {
width: 80%;
height: 200px;
float: left;
}

.side {
margin-left: 80%;
width: 20%;
}

.two-child{
overflow-y: scroll;
height: 600px;
}