<p>choropleth-chart</p>

<div class="viz-container">
    <div class="graph" id="map">
      <svg class="main-svg"></svg>
      <!-- <table mat-table [dataSource]="crimesByTypeSummary" class="info-tab" >
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>

        <mat-text-column name="typeCrime"></mat-text-column>
        <mat-text-column name="somme"></mat-text-column> -->

      <!-- </table> -->
    </div>
</div>

